def begin kernel.klog.entry_size
def     macro KLOG_ENTRY_SIZE
def     type unsigned_integer
def     value 1024
def end

def begin kernel.klog.ringbuf_size
def     macro KLOG_RINGBUF_SIZE
def     type unsigned_integer
def     value 128
def end
